body{
  margin: 0px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header secction */
#header-div{
  background-image: url("https://cdn.pixabay.com/photo/2018/05/14/16/54/alpine-3400788_960_720.jpg");
    padding: 120px 0px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-title{
  background-color: #71B48D;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}

#header-sutitle{
  background-color: #86cb92;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}


/* Activities Secction */

#Activities-div{
  background-color: #b2ddb955;
}

#Activities-title{
  margin: 0px;
  color: #5ba77a;
  padding: 50px 0px 50px;
}

.top-activities-div{
  display: flex;
  padding-bottom: 50px;
}

.img-size{
  border-radius: 50%;
  transition: 1.0s;
  width: 100px;
  height: 100px;
}

.img-size:hover{
  transition: 1.0s;
  width: 150px;
  height: 150px;
}

.top-activities{
  margin: 0px 10px;
}

 /* GUIDE SECTION  */

#guide-div{
  padding: 50px 0px;
}
#card-div{
  color: #2b2839;
  border-radius: 20px;
  margin: auto;
  width: 400px;
  height: 294px;
  text-align: center;
  padding: 20px;
  display: flex ;
  justify-content: space-around;
  background-color: #86cb91cb;
  border-bottom: 5px solid #4b8d66;
  border-left: 2px solid #4b8d66;
}

.my-img{
  width: 100%;
}
.contain{
  margin: auto;
}